.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: #c1c1c1;
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

#quote-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #d8e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 3rem;
  text-align: center;
}
#text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
#author {
  font-size: 1.4rem;
  font-style: italic;
  color: #666;
}
button {
  background-color: #f7e7ce;
  border: none;
  border-radius: 5px;
  color: rgb(14, 1, 1);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  margin: 1rem;
  transition: background-color 1s ease;
}
.button:hover {
  background-color: #555;
}
